*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: fixed;
    z-index: 100;
    background-color: #0A3641;
    height: 112px;
    width: 100%;
}
nav img {
    padding: 8px 56px;
    height: 112px;
}
nav ul {
    float: right;
    margin-right: 24px;
}
nav ul li {
     display: inline-block;
     line-height: 160px;
     margin: 0px 24px;
}
nav ul li a {
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    text-transform: uppercase;
     
}
a.active, a:hover {
    background: #FFF;
    color: #0A3641;
    border-radius: 2px;
    text-decoration: underline;
    transition: .5s;
}

main {
    top: 112px;
    padding: 0px;
    margin: 0px;
    background-color: #0A3641;
}
main div.bgi1 {
    position: relative;
    padding: 40em;
    background-image: url("../Images/mountain1.jpg");
    background-size: cover;
}
main div.split {
    width: 100%;
    height: 400px;
    background-color: #0A3641;
}
main div.bgi2 {
    position: relative;
    padding: 40em;
    background-image: url("../Images/mountain2.jpg");
    background-size: cover;
}
footer {
    position: relative;
    background-color: #0A3641;
    width: 100%;
    height: 300px;
}